# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.model_weights
*.iml
out
gen
将删除 Preworks/__pycache__/
将删除 codes/Mydatasets/__pycache__/
将删除 codes/Myloss_function/__pycache__/
将删除 codes/Mylr_schedule/__pycache__/
将删除 codes/Mymodels/__pycache__/
将删除 codes/Myoptimizers/__pycache__/
将删除 codes/Mytokenzier/__pycache__/
将删除 codes/Mytransforms/__pycache__/
将删除 codes/__pycache__/
将删除 result/
